# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Model files (optional – keep if small)
model/*.pkl

# Data (optional if large)
data/*.csv

# Streamlit
.streamlit/

# OS
.DS_Store
Thumbs.db
